<div class='footer mt-3'>
    <div class="card text-center bg-dark text-white">
        <div class="card-header">
        Mongodb Expressjs Nodejs
        </div>
        <div class="card-body">
        <h5 class="card-title text-bold">Thông tin liên hệ</h5>
        <p class="card-text">Nguyễn Minh Châu - Frontend Developer (ReactJS)</p>
        <ul class='list-icons d-flex flex-justify-center flex-align-center'>
            <li class='icon-item'>
                <a href="https://www.linkedin.com/in/nguyen-minh-chau-87184320b/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class='icon-item'>
                <a href="https://github.com/NguyenMinhChau">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class='icon-item'>
                <a href="tel:0398365404">
                    <i class="fas fa-phone"></i>
                </a>
            </li>
            <li class='icon-item'>
                <a href="mailto:nmchauhcmue@gmail.com">
                    <i class="fas fa-envelope-open"></i>
                </a>
            </li>
            <li class='icon-item'>
                <a href="https://goo.gl/maps/Zzcu6kQExDNkDJeH8">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </li>
        </ul>
        </div>
        <div class="card-footer text-muted">
            2021 - <span class='Copyright'></span> &copy; Copyright all rights reserved.
        </div>
    </div>
</div>
<style>
:root{
    --color-white: #fff;
    --color-active: #3982e4;
}
li {
    list-style: none;
}
.flex-justify-center{
    justify-content: center!important;
}
.flex-align-center{
    align-items: center!important;
}
.list-icons > .icon-item > a > i {
    font-size: 22px!important;
}
.list-icons > .icon-item > a {
    color: var(--color-white) !important;
    padding: 8px 15px!important;
    transition: all .2s linear !important;
}
.list-icons > .icon-item > a:hover{
    color: var(--color-active) !important;
}
</style>
<script>
    document.querySelector('.Copyright').innerHTML = new Date().getFullYear();
</script>