<div class='alert alert-primary text-center mt-2' role='alert'>
    <span class='Copyright'></span> Copyright &copy; All rights reserved.
</div>
<script>
    document.querySelector('.Copyright').innerHTML = new Date().getFullYear();
</script>